.about-img {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 300px;
    width: 100%;
}

.about-desc {
    padding-left: -300px;
    padding-right: 0px;
    padding-top: 100px;
}
.icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box{
    width:95%; 
    aspect-ratio: 1 / 0.65;
    border-style: solid;
    border: 1px dotted rgb(255, 0, 0);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    transition: 1s ease;
    position: relative;
    border-radius:10px;
}

.hover-circle{
    aspect-ratio: 1 / 0.65;
    width: 90%;
    margin: 5%;
    border-radius: 50%;
    transition: 1s ease;
}


.icon-box:hover .icon{
    filter: brightness(1);
}

.icon-box:hover .icon-text{
    scale: 1.1;
    transform: translateY(70%)
}

.icon {
    width:10%; 
    height: auto;
    filter:brightness(0.2);
    transform: translateY(140%);
    transition: 0.3s ease;
}

.icon-text {
    font-weight:700;
    font-size:clamp(20px,2vw,999px);
    transform: translateY(80%);
    transition: 0.6s ease;
}

.icon-animation {
	opacity: 0;
	transform: translate(0, 50px);
	transition: all 0.5s ease-out;
	transition-delay: 0.1s;
}

.about-text {
    font-size: 20px;
    font-size: clamp(16px, 2vh, 32px);;
    font-weight: 200;
}

.github-link-icon{
    width: 40%;
    height: auto;
    margin-top:5vh;
    transition: 0.3s ease;
}

.github-link-icon:hover{
    scale:0.9;
}

@keyframes bounce{
  0%, 100% { transform:translate(20vw,10vh) }
  50% {transform:translate(20vw,9vh)}
}
