.about-img {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 300px;
    width: 100%;
}

.about-desc {
    padding-left: -300px;
    padding-right: 0px;
    padding-top: 100px;
}

.icon {
    width:90%; 
    height: auto;
    padding: 1.5vh;
    border-style: solid;
    border-color: red;
    border-radius: 30px;
    min-width: 100px;
}


.icon-animation {
	opacity: 0;
	transform: translate(0, 50px);
	transition: all 0.5s ease-out;
	transition-delay: 0.1s;
}

.icon:hover {
    transition-delay:0.05s;
    background-color: rgb(199, 3, 3);
    transition-duration: 0.1s;
}

.about-text {
    font-size: 30px;
    font-size: 1.3vw;
    font-weight: 400;
}

.github-link-icon{
    width: 40%;
    height: auto;
    margin-top:5vh;
    transition: 0.3s ease;
}

.github-link-icon:hover{
    scale:0.9;
}