.pages{
    background-color: #0b111f;
    font-family: 'Montserrat', sans-serif;
    color: #f1f5f9;
}

html {
  scroll-behavior: smooth;
}

.slide-in {
  opacity: 0;
  transform: translateX(-100%); /* start off-screen from left */
  animation: slideIn 1s forwards; /* 1s animation */
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0); /* move to original position */
  }
}
.subtitle {
  font-weight: 700;
  font-size: 350%;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  margin-left: 10%;
  margin-top:10vh;
  padding:2vh;
  display: inline-block;
  /*transform: translateX(-100%);
  animation: slideIn 2s forwards; */
}

.animate-on-scroll {
	opacity: 0;
	transform: translate(-300px, 0);
	transition: all 0.4s ease-out;
	transition-delay: 0.2s;
}

.animate {
	opacity: 1;
	transform: translate(0, 0);
}