.custom-navbar {
  background-color: #ffffff; 
  max-width: 500px;
  border-radius: 30px;
  border: 1px solid rgba(124, 122, 122, 0.603);
  top: 10px;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9)
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1)
  }
}



.nav-link{
  color: black;
  font-size:medium;
  font-weight: 400;
}

.nav-logo {
  width: 13px;
  height: auto;
  margin-right: 3px;

}
.nav-link:focus,
.nav-link:active,
.nav-link.active{
    color: rgb(0, 0, 0) !important
}
.nav-link:hover{
  color: rgb(65, 63, 63)
}