.custom-navbar {
  background-color: #ffffff; 
  max-width: 500px;
  border-radius: 30px;
  border: 1px solid rgba(124, 122, 122, 0.603);
  top: 10px;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9)
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1)
  }
}

.logos {
  animation: fade-down 0.5s;
}

.nav-link{
  color: black;
  font-size:medium;
  font-weight: 200;
}

.nav-link:hover{
  color: rgb(65, 63, 63)
}