.custom-navbar {
  background-color: #ffffff; 
  max-width: 500px;
  border-radius: 30px;
  border: 2px solid rgba(124, 122, 122, 0.603);
  top: 10px;
  transition: 0.5s ease;
}

.custom-navbar:hover{
    box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.4),
    0 0 10px rgba(255, 0, 0, 0.08);
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.9)
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1)
  }
}



.nav-link{
  color: black;
  font-size:13px;
  font-weight: 500;
}

.nav-logo {
  width: 11px;
  height: auto;
  margin-right: 3px;

}
.nav-link:focus,
.nav-link:active,
.nav-link.active{
    color: rgb(0, 0, 0) !important
}
.nav-link:hover{
  color: rgb(65, 63, 63)
}
